/* Custom Properties */
:root {
    --clr-primary-cyan:hsl(179, 62%, 43%);
    --clr-primary-cyan2:hsl(179, 47%, 58%);
    --clr-primary-yellow:hsl(71, 73%, 54%);

    --clr-neutral-gray:hsl(204, 43%, 93%);
    --clr-neutral-blue:hsl(218, 22%, 67%);

    --fw-400:400;
    --fw-700:700;

    --ff-Karla: 'Karla', sans-serif;

}
body {
    display: grid;
    place-content: center;
    background-color: var(--clr-neutral-gray);
    font-family: var(--ff-Karla);
    font-size: 16px;
}
.container {
    --div-padding: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 7px;
    overflow: hidden;
    max-width: 650px;
    max-height: 800px;
}
.community {
    background-color: white;
    grid-column: span 2;
    padding: var(--div-padding);
}
.community h1 {
    color: var(--clr-primary-cyan);
    margin-bottom: 20px;
    font-size: 25px;
}
.community p[class="subtitle"]{
    color: var(--clr-primary-yellow);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
}
.community p[class="text"] {
    color: var(--clr-neutral-blue);
}
.subscription {
    background-color: var(--clr-primary-cyan);
    padding: var(--div-padding);
}
.subscription h2 {
    color: white;
    font-weight: var(--fw-400);
    font-size: 18px;
    margin-bottom: 10px;  
}
.subscription .flex-group {
    display: flex;
    margin-bottom: 5px;
}
.subscription .flex-group p[class="price"] { 
    font-size: 30px;
    color: white;
    margin: 0 10px 0 0;
    font-weight: var(--fw-700);
}
.subscription .flex-group p[class="month"] {
    align-self: center;
    color: var(--clr-primary-cyan2);
    margin: 0;
}
.subscription p[class="description"] {
    color: var(--clr-neutral-gray);
    margin-bottom: 30px;
}
.subscription .button {
    display: flex;
    justify-content: center;
}
.subscription a {
    text-decoration: none;
    color: white ;
    background-color: var(--clr-primary-yellow);
    padding : 11px 90px;
    border-radius: 6px;
}
.why {
    background-color: var(--clr-primary-cyan2);
    padding: var(--div-padding);
}
.why h2 {
    color : white;
    margin-bottom: 15px;
    font-size: 18px;
}
.why ul li {
    list-style: none;
    color: var(--clr-neutral-gray);
    font-size: 14px;
}

@media (max-width:450px) {
        .container {
            --div-padding: 25px;
            
            margin: 30px;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        .community {
            grid-column: span 1;
        }
        .subscription, .community, .why {
            height: 200px;
        }
        .community h1 {
            font-size: 18px;
        }
        .community p[class="subtitle"] {
            font-size: 14px;
        }
        .community p[class="text"] {
            line-height: 25px;
            font-size: 14px;
        }
}
